# log.py
colorama
psutil
GPUtil
prettytable
py-cpuinfo

# app.py
requests
pandas
flask
werkzeug

# crawler.py
beautifulsoup4
requests
pandas
urllib3
tqdm
tenacity

# other libraries
numpy
setuptools